.category_bar{
    height:100px;
    width:100%;
    position: relative;
    z-index:0;
}
/*.category_bar::before{
    content:'';
    display:inline-block;
    width:100px;
    height:100px;
    position: absolute;
    z-index: 200;
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0.7),rgba(255,255,255,0.2),transparent);
}*/
.category_container{
    height:100%;
    width:100%;
    position: relative;
    float:right;
    overflow-x:scroll;
    overflow-y:hidden;
}

.category_list{
    position: relative;
    width:max-content;

    height:80%;
    top:10px;
    margin-left:80px;
    display:flex;
    align-items: center;
}

.category_container::-webkit-scrollbar{
    height:0px;
}

.category_list>ul{
    list-style-type: none;
}
.category_list>ul>li{
    display: inline-block;
    margin-right:30px;
    font-size:18px;
    font-weight: 100;
    position: relative;
    z-index: 10;
    cursor: pointer;
}
.category_list>ul>li>.list_data{
    background-color:#F76C6C;
    padding:10px 35px;
    border-radius: 5px;
    color:white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    z-index:10;
    
}

.category_list>ul>li.list_item-active>.list_data{
    background-color: rgb(243, 65, 65);
    box-shadow: 0 8px 15px rgba(0,0,0,0.5);
}
.active_cover{
    position: absolute;
    top:-10px;
    left:50%;
    transform:translateX(-50%);
    width:120%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height:100px;
    background-color:#24305E;
    z-index:-1;
}